
.game-image {
    height: 150px;
    width: 200px;  
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.add-to-wishlist {
    padding: 10px;
    border-radius: 50px;
    background: #0eb5e7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 50px auto;
    border: 2px solid white;
}

.game-title {
    color:crimson
}



